body{
    text-decoration: none;
    background-color: rgb(243, 215, 185);
}
.container{
background-color: rgb(218, 66, 84);
font-family: 'arial', 'sans-serif';
padding-left: 15px;
padding-right: 15px;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    font-size: 35px;
    font-weight: 600;
    color: white;
}
li{
    list-style: none;
    display: inline;
}
li a{
    text-decoration: none;
    color : white;
    font-size: 18px;
    font-weight: bold;
    margin-right: 25px;
}













img{
    width: 250px;
    height: 250px;
}
/* .container{
    background-color: rgb(53, 104, 43);
    color: rgb(131, 196, 117);
    width: 200px;
    height: 200px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
} */

#btn{
background-color:rgb(218, 66, 84);
color: rgb(243, 215, 185);
text-transform: capitalize;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 20px;
border: none;
border-radius: 30px;
padding: 20px;
margin-top: 10px;
}

.hide{
    display: none;
}

@media  screen and (max-width: 400px) {
    img{
        width: 300px;
    }
} 